body {
  font-family: "Lato","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 80px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #737d6d;
}

.lead {
  margin: 30px auto;
  text-align: center;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition: background-color .6s;
}

.header.active {
  background-color: #737d6d;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.header-logo {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #fff;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  font-size: 15px;
  padding: 5px 0;
  letter-spacing: .1em;
  color: #fff;
}

.header-nav-item a:hover {
  opacity: .8;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.main-visual-img {
  height: 130px;
  background-image: url(../img/top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sub-main-visual-img {
  height: 180px;
  background-image: url(../img/mv.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*--------------------------------
 プロフィール
---------------------------------*/
.profile {
  padding: 50px 0;
}

.profile-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #737d6d;
}

.profile-text {
  max-width: 600px;
  margin: 0 auto;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 15px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 3px;
}

.skill-text {
  display: block;
  text-align: left;
}

.skill-body ul {
  display: block;
  text-align: left;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  display: block;
  margin: 0 20px;
  text-align: center;
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #e6e6e6;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #737d6d;
}

.copyright {
  font-size: 18px;
  text-align: center;
  color: #a3bb95;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 50px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
  color: #737d6d;
}

.article-img {
  margin-bottom: 40px;
  text-align: center
}

.article-body {
  max-width: 700px;
  margin: 0 auto;
}

.article-info-title {
  font-size: 20px;
  margin: 60px 0 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #737d6d;
  color: #737d6d;
}

/* バナーページ内のh4見出し */
h4.article-info-title {
  font-size: 20px;
  margin: 30px 0 15px;
  border-bottom: none;
}

.article-body p {
  margin-bottom: 20px;
}

.design-list {
  list-style: decimal;
  margin-left: 20px;
  margin-bottom: 40px;
}

.design-list li {
  margin-bottom: 15px;
}

.home-link {
  text-align: center;
  margin-top: 80px;
}

/* ============================
   写真 左右ブロック配置 
============================ */
.photo-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 40px;
}

.photo-item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.photo-img {
    flex: 0 0 45%; /* 画像の幅を固定 */
}

.photo-img img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #eee;
}

.photo-info {
    flex: 1;
}

.photo-info p {
  margin-bottom: 0 !important;
}

/* 偶数番目の画像だけ左右反転 */
.photo-item:nth-of-type(even) {
    flex-direction: row-reverse;
}

/* ========================================
  作品リンクボタン設定
======================================== */
.link-botton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    margin: 15px auto;
    background: #eefefe;
;
    color: #ffe6ff;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #a3bb95;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(212, 175, 55, 0.4);
}

.link-botton:hover,
a img{
    background: #fefefe;
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(212, 175, 55, 0.6);
    font-size: 1.4rem;
}


/* ----------------------------------------------------*/ 
/* ============================
  レスポンシブ：media Queries 767
============================ */

@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  
  .section {
    padding: 40px 0;
  }

  .inner {
    padding: 0 15px;
  }

  /* ヘッダー */

  .header-logo {
    font-size: 18px;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .header-nav-item a {
    font-size: 12px;
  }

  /* メインビジュアル */

  .main-visual-img {
    height: 60vh;
    background-image: url(../img/sp_mv.jpg);
  }
  .sub-main-visual-img {
    height: 100px;
    background-image: url(../img/sp_mv.jpg);
  }

  /* プロフィール */

  .profile {
    padding: 30px 0;
  }
  .profile-title {
    font-size: 21px;
  }

  /* Works */

  .works-name {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

    /* Skill */

  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  /* Contact */

  .contact-item {
    margin: 0 10px;
  }

    /* フッター */

  .footer {
    padding: 20px 0;
  }

  /* バナーページ左右配置のスマホ調整 */
  .photo-item, 
  .photo-item:nth-of-type(even) {
    flex-direction: column;
    gap: 20px;
  }

  .photo-img {
    width: 100%;
  }

  .article-info-title {
    margin: 40px 0 15px;
  }
}
/* ============================
  レスポンシブ　ここまで
============================ */